/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$navbar-color: #343a40;
$background-color: #0d1f22;
$box-color: #18393f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: $background-color;
  margin: 0 auto;
  width: 80%;

  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}

a {
  color: #fff;
}
a:hover {
  color: #00f;
}

.navbar {
  background-color: $box-color !important;
}

.home-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.hero-grid {
  display: grid;
  margin-top: 3rem;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(9, auto);
  // grid-template-rows: repeat(9, auto);
}

.hero-card {
  transition: all 0.2s;
  position: relative;
  margin: 0.2rem;
}

.hero-card:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.hero-card-name {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  color: white;
  text-shadow: 0px 0px 2px #0a0a0a !important;
  z-index: 100;
  font-size: 0.8rem;
}

@media screen and (max-width: 1050px) {
  .hero-card-name {
    display: none;
  }
  .hero-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
  }
}

@media screen and (max-width: 650px) {
  .hero-card-name {
    display: none;
  }
  .hero-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
  }
}

.hero-data-container {
  display: flex;
  flex-direction: column;

  height: 75vh;
  position: relative;
  background: $box-color;
  border-radius: 6px;
  color: white;
  margin-top: 4rem;
  padding: 1rem 1rem;
}

.hero-data-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 1rem;
  border: 4px solid #11282c;
  border-radius: 8px;
  padding: 1rem 0;
}

@media screen and (max-width: 1250px) {
  // .hero-data-header {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   justify-content: space-around;
  // }
  .hero-data-info {
    transform: scale(0.8);
  }
  .hero-data-image img {
    transform: scale(0.8);
  }
  .hero-data-abilities-container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 1020px) {
  .hero-data-container {
    margin-top: 1rem;
    height: 100vh;
  }
}

@media screen and (max-width: 680px) {
  .hero-data-container {
    height: 130vh;
  }
  .hero-data-body-container {
    display: grid !important;
    grid-template-columns: repeat(2, auto) !important;

    margin-top: -2rem !important;
    transform: scale(0.9);
  }

  .hero-data-table {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }

  .hero-data-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.hero-data-image {
  img {
    border-radius: 5px;
  }
}

.hero-data-info {
  margin-left: 1rem;
  h4 {
    font-weight: bold;
  }
  p {
  }
}

.hero-data-abilities-container {
  margin-right: 0.7rem;
  img {
    margin: 0 0.3rem;
    border-radius: 4px;
  }
}

.hero-data-primary-attr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.hero-data-body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0 !important;
  color: rgba(255, 255, 255, 0.5);
}

.hero-data-base-stats {
  p {
    margin: -0.1rem;
  }
}

.hero-data-table {
  display: flex;
  flex-direction: column;

  width: 31%;
  background-color: $box-color;
  border: 4px solid #11282c;
  border-radius: 8px;
  span {
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
  }

  span:nth-child(even) {
    background-color: #11282c;
  }
}

.hero-data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-container {
  img {
    margin: 0.2rem;
    border-radius: 4px;
  }
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-card {
  transition: all 0.2s;
}

.item-card:hover {
  transform: translateY(-3px);
}

.item-container {
  margin: 20px 0;
}

.match-header {
  display: gird;
  justify-content: center;
}

.player-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $box-color;
  color: white;
  position: relative;
  max-width: 15rem;
  padding: 0.7rem 0.7rem;
  border-radius: 4px;
  overflow: hidden;
}
.account-name-container {
  display: flex;
  flex-wrap: wrap;
}

.playerListStyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .playerListStyle {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 650px) {
  .playerListStyle {
    display: flex;
    flex-direction: column;
  }
  .player-box {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
}

.btn-container button {
  position: absolute;
  bottom: 1rem;
  left: 7rem;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.3rem;
  background-color: $box-color !important;
  color: white !important;
  border: 2px solid white;
  &:hover {
    background-color: white !important;
    color: black !important;
    border: 2px solid white;
  }
}
.most-played-heroes-title {
  color: white;
  letter-spacing: 0;
  margin: 0.8rem 0;
}

.profile-container {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: $box-color;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
  margin: 2rem 0;
  color: white;
}

.profile-container__name {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.profile-container__ranking {
  position: absolute;
  right: 1rem;
}

.avatar-container img {
  width: 5rem;
  height: 5rem;
}

.account-name-container {
  padding: 1rem 1rem;
  position: absolute;
  left: 5.8rem;
  top: 0.1rem;
}

.most-played-heroes-container {
  background-color: $box-color;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  width: 40%;
}

.flex-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-table.row {
  display: flex;
  justify-content: space-between;
  margin: 0 0.6rem;
}

.recent-matches-container {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid $box-color;

  color: white;
  letter-spacing: 0;
  white-space: nowrap;
  font-size: 0.8rem;
  margin: 1rem 0;
  tr {
    text-align: left;
    border-radius: 8px;
  }

  tbody tr:nth-of-type(even) {
    background-color: #11282c;
  }

  tbody tr:nth-of-type(odd) {
    background: $box-color;
  }

  td {
    vertical-align: middle;
  }
}

@media screen and (max-width: 600px) {
  .recent-matches-title {
    transform: scale(0.9);
    margin-bottom: -4rem;
  }
  .recent-matches-container {
    transform: scale(0.9);
  }
}

.recent-matches-header {
  font-size: 1rem;
}

.recent-matches-title {
  letter-spacing: 0;
  margin-top: 0.5rem;
  font-weight: bold;
  color: white;
  font-weight: bold;
}

.recent-match-avatar-container {
  display: flex;
  flex-direction: row;
  position: relative;
  // padding: 0 -7px;
  img {
    height: 4rem;
    width: 7rem;
    padding: 0.3rem 0.3em;
    margin: 0.3rem 0.3rem;
    border-radius: 8px;
  }

  p {
    position: absolute;
    bottom: 0.01px;
    left: 0.8rem;
    color: white;
    text-shadow: 0px 0px 2px #0a0a0a !important;
    z-index: 100;
    font-size: 0.8rem;
  }
}

.recent-match-result-container-won {
  color: greenyellow;
}

.recent-match-result-container-lost {
  color: red;
}

// .recent-match {
//   letter-spacing: 0;
//   align-items: center;
//   border-radius: 8px;
//   padding: 0 0.5rem;

//   width: 100%;
//   overflow: hidden;
//   flex-wrap: wrap;
// }

.grid > span {
  padding: 2rem 1rem;
  border-left: 1rem solid white;
  border-bottom: 1rem solid white;
}

.radiant {
  color: greenyellow;
}

.dire {
  color: red;
}

.match-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match-result {
  display: flex;
  justify-content: center;
}

.match-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.match-score-container h4 {
  padding: 0.2rem 1rem;
  color: white;
}

.match-container {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  background-color: $box-color;
  border-radius: 8px;
  max-width: 120rem;
}

.match-middle-section {
  color: white;
}

.match-details-container {
  position: relative;
  margin-bottom: 2rem;
}

.match-details-id-container {
  position: absolute;
  color: white;
}

.match-details-secondary-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
}

.player-hero-avatar img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.radiant-match-container {
  border-collapse: collapse;
  width: 100%;
  border: 4px solid $background-color;
  color: white;
  letter-spacing: 0;
  white-space: nowrap;
  font-size: 0.8rem;
  margin: 1rem 0;
  thead,
  tr {
    text-align: center;
  }

  tbody tr:nth-of-type(odd) {
    background-color: #11282c;
  }

  td {
    vertical-align: middle;
  }
}

.team-row {
  text-align: left;

  &.first {
    width: 4rem;
  }
  &.player {
    width: auto;
  }

  &.items {
    width: 20px;
  }
}

.team-match-row-hero {
  max-width: 3.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 8px;
}

.team-match-row-item {
  max-width: 3rem;
  border-radius: 4px;
}

td {
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .team-row.items {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .match-details-id-container {
    display: none;
  }

  .match-details-secondary-container {
    display: none;
  }
}
